.Galery {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 30px 20px;
}


@media screen and (max-width: 768px) {
  .Galery {
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 60px;
	}
}


@media screen and (max-width: 320px) {
  .Galery {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
}