.App {
  margin: 0 auto;
  width: 768px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Title {
  margin: 15px 0 30px;
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
}

.Footer {
  width: 100%;
  max-width: 768px;
  position: absolute;
  bottom: 0;
  color: #CCC;
  border-top: 1px solid #CCC;
  text-align: center;
  padding: 12px 0;
}

@media screen and (max-width: 768px) {
  .App {
		margin: 0 20px;
    max-width: 100vw;
    width: auto;
	}
}